nav {
    background: rgba(0, 0, 0, .55);
    width: max-content;
    display: block;
    padding: 6px 12px;
    position: fixed;
    border-radius: 12px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    z-index: 2;
    display: flex;
    gap: 12px;
    backdrop-filter: blur(12px);
}

nav a {
    background: transparent;
    padding: .8rem;
    color: var(--mainColor);
    font-size: 18px;
    display: flex;
    border-radius: 50%;
}

nav a.active {
    background: rgba(255, 255, 255, .6);
    color: #333;
}

/* media query */
@media (max-width: 1024px) {
    nav {
        bottom: 1.2rem;
    }

}

/*
@media (max-width: 614px) {

} */